.skills-skeleton__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}

.skills-skeleton__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skills-skeleton__list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
