.section {
  padding: clamp(48px, 5.8vw + 26px, 110px) 0;
  width: 100%;
  scroll-margin-top: var(--scroll-offset);

  &-title-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: clamp(28px, 2.63vw + 18px, 56px);
    flex-wrap: wrap;
    text-transform: uppercase;
    scroll-margin-top: var(--scroll-offset);
  }

  &-title-wrap__title {
    font-family: var(--font-secondary);
  }

  &-title-wrap__num {
    font-variant-numeric: tabular-nums;
    font-family: var(--font-secondary);
    font-size: clamp(26px, 3vw, 34px);
    font-weight: 700;
    color: rgba(255, 255, 255, 0.28);
    line-height: 1lh;
  }
}