/* Unbounded */

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-Black.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-Bold.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-ExtraBold.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-ExtraLight.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-Regular.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-Light.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-Medium.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/public/fonts/Unbounded/Unbounded-SemiBold.woff2') format('woff2'),
        url('/public/fonts/Unbounded/Unbounded-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Raleway */

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-Black.woff2') format('woff2'),
        url('/public/Raleway/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
        url('/public/Raleway/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
        url('/public/Raleway/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-Light.woff2') format('woff2'),
        url('/public/Raleway/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-Bold.woff2') format('woff2'),
        url('/public/Raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-Medium.woff2') format('woff2'),
        url('/public/Raleway/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-SemiBold.woff2') format('woff2'),
        url('/public/Raleway/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('/public/Raleway/Raleway-Regular.woff2') format('woff2'),
        url('/public/Raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}