*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-font: 'Unbounded', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-bc: #ffffff;
    --secondary-bc: #2E3192;
    --main-color: #000000;
    --secondary-color: #ffffff;
    --accent-color: #000000;
    --accent-color-hover: #000000;
    --accent-color-active: #000000;

    --color-gray: #4D4D4D;
    --color-gray-2: #7F7F7F;
    --color-gray-3: #D5D6E9;
    --color-gray-4: #F5F5F5;
    --color-gray-5: #D9D9D9;
    --color-black: #000000;
    --color-black-2: #000000b3;
    --color-black-3: #00000080;
    --color-white: #ffffff;
    --color-white-09: #ffffffe6;
    --color-white-07: #ffffffb3;
    --color-white-05: #ffffff80;
    --color-green: #007f2b80;

    --letter-spacing: 0.04em;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--main-bc);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    letter-spacing: var(--letter-spacing);
}

main {
    padding: 90px 0;

    @include vp-850 {
        padding: 60px 0;
    }

    @include vp-550 {
        padding: 40px 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    font-family: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

span, p {
    font-family: var(--secondary-font);
}

a {
    text-decoration: none;
    width: fit-content;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}