$breakpoints: (
    mobile: 360px,
    tablet: 768px,
    desktop: 1200px,
    wide: 1440px,
);

@mixin respond($from, $to: null) {
    @if not map-has-key($breakpoints, $from) {
        @warn "Unknown breakpoint: #{$from}";
    }

    @else if $to ==null {

        // только нижняя граница — как раньше
        @media (min-width: map-get($breakpoints, $from)) {
            @content;
        }
    }

    @else if not map-has-key($breakpoints, $to) {
        @warn "Unknown breakpoint: #{$to}";
    }

    @else {
        // диапазон между двумя брейкпоинтами
        $min: map-get($breakpoints, $from);
        $max: map-get($breakpoints, $to);

        @media (min-width: $min) and (max-width: ($max - 1px)) {
            @content;
        }
    }
}