.about {
  &__wrapper {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: clamp(32px, 6vw, 60px);

    @include respond(mobile, tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__stats {
    width: 100%;
  }
}