.contact {
    padding-top: 180px;

    @include vp-1050 {
        padding-top: 130px;
    }

    &__wrapper {
        display: flex;
        background-color: var(--secondary-bc);
        gap: 20px;
        justify-content: space-between;
        border-radius: 16px;
        padding: 44px;

        @media (width <=1150px) {
            flex-direction: column;
            gap: 40px;
        }

        @include vp-550 {
            padding: 24px;
        }
    }

    &__title {
        font-size: 52px;
        line-height: 56px;
        font-weight: 500;
        margin: 0 0 28px;
        color: var(--secondary-color);

        @media (width <=1440px) {
            font-size: 44px;
            line-height: 48px;
            margin-bottom: 20px;
        }

        @media (width <=1250px) {
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 10px;
        }

        @include vp-850 {
            font-size: 32px;
            line-height: 36px;
        }
    }

    &__text {
        color: var(--color-white-05);
        font-size: 26px;
        line-height: 30px;
        margin: 0 0 88px;

        @media (width <=1440px) {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 50px;
        }

        @media (width <=1250px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 40px;
        }
    }

    .social {
        margin: 0 0 72px;

        @media (width <=1250px) {
            margin: 0 0 40px;
        }

        &__item {
            font-size: 22px;
            line-height: 24px;

            @media (width <=1250px) {
                font-size: 18px;
                line-height: 22px;
            }

            @media (width <= 650px) {
                flex-direction: column;
                align-items: start;
                gap: 12px;
            }

            @include vp-550 {
                gap: 8px;
            }
        }

        &__head {
            color: var(--color-white-07);

            @media (width <= 650px) {
                color: var(--color-white);
            }
        }

        &__text {
            color: var(--secondary-color);

            @media (width <= 650px) {
                color: var(--color-white-05);
            }
        }
    }

    &__list {
        display: flex;
        gap: 44px;

        @media (width <=1150px) {
            gap: 24px;
        }
    }

    &__link {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: var(--color-gray-5);
        display: grid;
        place-items: center;

        @media (width <=1440px) {
            width: 60px;
            height: 60px;

            svg {
                width: 28px;
                height: 28px;
            }
        }
    }

    &__photo {
        border-radius: 16px;
        overflow: hidden;
        display: grid;
        place-items: center;
        min-width: 300px;
        border: 1px solid var(--color-white);
        box-shadow: 1px 1px 8px 1px var(--color-white-07);

        @media (width <=1440px) {
            width: 70%;
        }

        @media (width <=1150px) {
            width: 100%;
            min-width: unset;
        }

        svg {
            @media (width <=1650px) {
                width: 300px;
                height: 280px;
            }

            @media (width <=1250px) {
                width: 360px;
                height: 340px;
            }

            @include vp-550 {
                width: 260px;
                height: 240px;
            }
        }
    }
}