.person-info {
    padding-top: 170px;

    @include vp-1050 {
        padding-top: 130px;
    }

    &__title {
        margin: 0 0 83px;
        color: var(--accent-color);

        @include vp-1050 {
            margin-bottom: 60px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        @include vp-1050 {
            flex-direction: column;
            gap: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        @include vp-1050 {
            margin-bottom: 30px;
            gap: 30px;
        }

        @include vp-850 {
            margin-bottom: 20px;
            gap: 20px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        font-size: 16px;

        @include vp-1200 {
            gap: 30px;
            justify-content: unset;
        }

        @include vp-850 {
            font-size: 14px;
        }

        @include vp-550 {
            gap: 16px;
        }

        @include vp-460 {
            font-size: 12px;
            gap: 14px;
        }
    }

    &__head {
        color: var(--color-gray);
        min-width: 160px;

        @include vp-460 {
            min-width: 130px;
        }
    }

    &__description {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 32px;
        max-width: 400px;
        overflow: hidden;
    }

    &__text {
        color: var(--accent-color);
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;

        @include vp-1200 {
            flex: unset;
        }
    }

    &__status {
        color: var(--color-gray);

        @include vp-1200 {
            flex: 1;
        }
    }
}