.reviews {
    padding-top: 174px;

    @include vp-1050 {
        padding-top: 130px;
    }

    &__title {
        margin: 0 0 75px;
    }

    &__video-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin: 0 0 80px;
    }

    &__video-item {
        height: 496px;
        border-radius: 16px;
        overflow: hidden;
        background-color: var(--color-gray-2);

        video {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            place-items: center;
        }
    }

    &-comments__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
    }

    &-comments__item {
        background-color: var(--color-gray-4);
        border-radius: 16px;
        padding: 25px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        grid-column: span 2;

        @media (width >=2234px) {
            grid-column: span 3;
        }

        @media (width <=1134px) {
            grid-column: span 3;
        }

        @include vp-850 {
            padding: 20px;
            gap: 16px;
        }

        @include vp-550 {
            padding: 16px;
            gap: 12px;
        }

        &:nth-child(4) {
            grid-column: span 3;

            @media (width >=2234px) {
                grid-column: span 3;
            }

            @media (1574px >=width >=1134px) {
                grid-column: span 2;
            }
        }

        &:last-child {
            grid-column: span 3;

            @media (width >=2234px) {
                grid-column: span 6;
            }

            @media (1574px >=width >=1134px) {
                grid-column: span 4;
            }
        }
    }

    &-comments__title {
        font-size: 20px;
        line-height: 24px;
        font-family: var(--secondary-font);
        letter-spacing: unset;

        @include vp-850 {
            font-size: 18px;
            line-height: 22px;
        }

        @include vp-550 {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &-comments__agreed {
        color: var(--color-green);
        margin-top: auto;
        font-size: 16px;
        line-height: 20px;

        @include vp-850 {
            font-size: 14px;
            line-height: 18px;
        }
    }
}