.skills {
    padding-top: 174px;

    @include vp-1050 {
        padding-top: 130px;
    }

    &__title {
        @include vp-550 {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 30px;
        }
    }

    &-radar {
        margin: 0 auto;
        max-width: 900px;
    }
}