.experience__timeline {
  position: relative;
  padding-left: 32px;

  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 6px;
    bottom: 6px;
    width: 1.5px;
    background: var(--color-accent);
  }
}