.experience-skeleton-timeline {
  display: flex;
  gap: 32px;
}

.experience-skeleton-timeline__content {
  position: relative;
}

.experience-skeleton-timeline__wrapper {
  display: grid;
}

.experience-skeleton-dot {
  position: absolute;
  left: -40px;
  top: 0;
  z-index: 2;
}

.experience-skeleton-timeline__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
