.title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    margin: 0 0 100px;

    @include vp-850 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 60px;
    }

    @include vp-550 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 40px;
    }
}