*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-secondary: "Space Grotesk", sans-serif;
  --font-primary: "Roboto", sans-serif;
  --text-primary: #b7bec9;
  --text-secondary: #f3f5f7;
  --text-hover: var(--text-secondary);
  --text-black: #07130d;

  --panel: #ffffff0d;
  --panel-border: #ffffff1a;

  --color-accent: #2fe88a;
  --color-dark-gray: #39393b;

  --header-height: 72px;
  --scroll-gap: 16px;
  --scroll-offset: calc(var(--header-height) + var(--scroll-gap));

  --transition-duration: 0.2s;
  --transition-color: color var(--transition-duration);
  --transition-border-color: border-color var(--transition-duration);
  --transition-background-color: background-color var(--transition-duration);
  --transition-transform: transform var(--transition-duration);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  line-height: 1.4;
  background: rgba(0, 0, 0, 0.8);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: inherit;
  width: fit-content;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

svg {
  color: var(--text-primary);
  transition: var(--transition-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}